<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.mividstudios.cordova.obex" version="0.0.1">
    <name>OBEX</name>
    <author>Tim Garthwaite, Mivid Studios LLC &lt;tim@mividstudios.com&gt;</author>
    <description>OBject EXchange protocol over Bluetooth</description>
    <license>Apache 2.0</license>
    <keywords>cordova,obex</keywords>
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.ACCESS_BLUETOOTH_SHARE" />
        </config-file>
        <config-file target="config.xml" parent="/*">
            <feature name="OBEX">
                <param name="android-package" value="com.mividstudios.cordova.OBEX"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <source-file src="src/android/OBEX.java" target-dir="src/com/mividstudios" />
        <source-file src="src/android/Base64.java" target-dir="src/com/mividstudios" />
    </platform>
<!--
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="OBEX_OPP">
                <param name="ios-package" value="OBEX"/>
            </feature>
        </config-file>
        <header-file src="src/ios/obex.h" />
        <source-file src="src/ios/obex.m" />
    </platform>
-->
</plugin>
